MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=CarParking
PORT=3500
FRONTEND_URL=http://localhost:3000
RATE_PER_MINUTE=30
PARKING_LOCATION_CODE=STRIPCENTER
PARKING_LOCATION_NAME=Stripcenter
PARKING_LOCATION_ADDRESS=Avenida Normandie s/n
